html {
  font-family: Helvetica;
}

body {
  background-color: #5CA2BC
}

p {
    border-style: solid;
    background-color: #FFFFEE;
    border-width: 12px;
    border-color: #FFFFEE;
    font-size: 20px;
    font-family: Lucida;
    text-align: left;
    width: 700px;
    margin: auto;
}
h1 {
    color: #FFFFEE;
    font-weight: normal;
    text-align: center;
    font-size: 46px;
}
h2 {
    color: #FFFFEE;
    font-weight: normal;
    text-align: center;
    font-size: 38px;
}
